// Typography
$em-base: $theme-root-font-size !default;
$base-font-size: $theme-body-font-size !default;
$small-font-size: $theme-small-font-size !default;
$lead-font-size: $theme-lead-font-size !default;
$title-font-size: $theme-display-font-size !default;
$h1-font-size: $theme-h1-font-size !default;
$h2-font-size: $theme-h2-font-size !default;
$h3-font-size: $theme-h3-font-size !default;
$h4-font-size: $theme-h4-font-size !default;
$h5-font-size: $theme-h5-font-size !default;
$h6-font-size: $theme-h6-font-size !default;
$base-line-height: $theme-body-line-height !default;
$heading-line-height: $theme-heading-line-height !default;
$lead-line-height: $theme-lead-line-height !default;

$font-sans: $theme-font-type-sans !default;
$font-serif: $theme-font-type-serif !default;

// TODO these should be called font-weight-${}
$font-normal: $theme-font-weight-normal !default;
$font-bold: $theme-font-weight-bold !default;

// Color
$color-blue: "blue-60v" !default;
$color-blue-darker: "blue-warm-70v" !default;
$color-blue-darkest: "blue-warm-80v" !default;

$color-aqua: "cyan-30v" !default;
$color-aqua-dark: "cyan-40v" !default;
$color-aqua-darkest: "blue-cool-60v" !default;
$color-aqua-light: "blue-cool-20v" !default;
$color-aqua-lightest: "blue-cool-5v" !default;

$color-red: "red-cool-50v" !default;
$color-red-dark: "red-60v" !default;
$color-red-darkest: "red-70v" !default;
$color-red-light: "red-30" !default;
$color-red-lightest: "red-cool-10v" !default;

$color-white: "white" !default;
$color-black: "black" !default;
$color-black-light: $theme-color-base-ink !default;

$color-gray-dark: $theme-color-base-darker !default;
$color-gray: $theme-color-base-dark !default;
$color-gray-medium: $theme-color-base !default;
$color-gray-light: $theme-color-base-light !default;
$color-gray-lighter: $theme-color-base-lighter !default;
$color-gray-lightest: $theme-color-base-lightest !default;

$color-gray-warm-dark: "gray-warm-70" !default;
$color-gray-warm-light: "gray-warm-10" !default;
$color-gray-cool-light: "blue-warm-10" !default;

$color-gold: "gold-20v" !default;
$color-gold-light: "yellow-20v" !default;
$color-gold-lighter: "gold-10v" !default;
$color-gold-lightest: "gold-5v" !default;

$color-green: "green-cool-50v" !default;
$color-green-light: "green-cool-40" !default;
$color-green-lighter: "green-cool-20" !default;
$color-green-lightest: "green-cool-5" !default;

$color-cool-blue: "blue-warm-60" !default;
$color-cool-blue-light: "blue-warm-50" !default;
$color-cool-blue-lighter: "blue-warm-30" !default;
$color-cool-blue-lightest: "blue-warm-10" !default;

$color-purple: "violet-70v" !default;

// Functional colors
$color-primary: $theme-color-primary !default;
$color-primary-darker: $theme-color-primary-dark !default;
$color-primary-darkest: $theme-color-primary-darker !default;

$color-primary-alt: $theme-color-accent-cool !default;
$color-primary-alt-dark: $theme-color-accent-cool-dark !default;
$color-primary-alt-darkest: $theme-color-accent-cool-darker !default;
$color-primary-alt-light: $theme-color-accent-cool-light !default;
$color-primary-alt-lightest: $theme-color-accent-cool-lighter !default;

$color-secondary: $theme-color-secondary-vivid !default;
$color-secondary-dark: $theme-color-secondary-dark !default;
$color-secondary-darkest: $theme-color-secondary-darker !default;
$color-secondary-light: $theme-color-secondary-light !default;
$color-secondary-lightest: $theme-color-secondary-lighter !default;

$color-base: $theme-color-base-darkest !default;
$color-focus: $theme-focus-color !default;
$color-visited: $theme-link-visited-color !default;

$color-shadow: "black-transparent-30" !default;
$color-transparent: "transparent" !default;

// Mobile First Breakpoints
$small-screen: "mobile-lg" !default;
$medium-screen: "tablet" !default;
$large-screen: "desktop-lg" !default;

// Grid column counts by screen size
/** DEPRECATED IN USWDS 2+
  * Use layout grid
    $grid-columns-small: 1 !default;
    $grid-columns-medium: 6 !default;
    $grid-columns-large: 12 !default;
*/

// @media single-keyword helpers
/** DEPRECATED IN USWDS 2+
  * Use at-media() mixin with unit tokens
    $small: new-breakpoint(min-width $small-screen $grid-columns-small) !default;
    $medium: new-breakpoint(min-width $medium-screen $grid-columns-medium) !default;
    $large: new-breakpoint(min-width $large-screen $grid-columns-large) !default;
*/
// Set the base path for assets (used for font and image paths below)
/** DEPRECATED IN USWDS 2+
  * Use font path and image path only
    $asset-path: '../' !default;
*/

// Relative font and image file paths
$font-path: $theme-font-path !default;
$image-path: $theme-image-path !default;

// Set $asset-pipeline to true if you're using the Rails Asset Pipeline
/** DEPRECATED IN USWDS 2
  * This functionality is not implemented in USWDS 2+
    $asset-pipeline:      false !default;
*/

// Magic Numbers
$text-max-width: $theme-text-measure !default; // measure
$lead-max-width: $theme-lead-measure !default; // measure
$site-max-width: $theme-site-max-width !default; // units
$site-margins: $theme-site-margins-width !default; // units
$site-margins-mobile: $theme-site-margins-mobile-width !default; // units
// $article-max-width:      600px !default; // DEPRECATED
$input-max-width: $theme-input-max-width !default; // units
// $label-border-radius:       2px !default; // DEPRECATED
$checkbox-border-radius: $theme-checkbox-border-radius !default; // units
$border-radius: $theme-border-radius-md !default; // units
$button-border-radius: $theme-button-border-radius !default; // border-radius
$box-shadow: 0 0 2px $color-shadow !default;
$focus-outline: units($theme-focus-width) solid $theme-focus-color !default;
$focus-spacing: $theme-focus-offset !default;
$nav-width: $theme-header-min-width !default; // units
$sidenav-current-border-width: $theme-sidenav-current-border-width !default; // units

// 44 x 44 pixels hit target following Apple iOS Human Interface
// Guidelines
$hit-area: $size-touch-target !default;

$spacing-x-small: 0.5; // units
$spacing-small: 1.5; // units
$spacing-md-small: 2; // units
$spacing-medium: 2.5; // units
$spacing-large: 4; // units
