
<div class="usa-grid">
  <div class="usa-width-one-quarter"></div>
  <div class="usa-width-one-half">
    <h4>Introducing the CHI311 Mobile App</h4>
    <p>Have you downloaded our CHI311 mobile app? Create new requests, explore requests in other neighborhoods, and track requests you submit. You can also receive benefits from many of our partners! Available for download now. <a href="https://www.chicago.gov/city/en/sites/311ProjectInformation/home/download-incentives.html" target="_blank">Read about our CHI 311 App Benefits.</a></p>
    <a href="https://play.google.com/store/apps/details?id=org.cityofchicago.chi311" target="_blank"><img src="/assets/img/mobileAppDownloadGoogle.png"></a>&nbsp;
    <a href="https://itunes.apple.com/us/app/chi-311/id1441580123?mt=8" target="_blank"><img src="/assets/img/mobileAppDownloadApple.png"></a>
    <img src="/assets/img/mobileAppSnapshot.png" alt="A picture of the CHI311 app" width="33%">
  </div>
  <div class="usa-width-one-quarter"></div>
</div>

