<ul class="usa-accordion filter">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false" aria-controls="filter">
      <p class="filter-button-title">{{ page.filter_button_title }}</p>
      <p class="filter-button-message">{{ page.filter_button_message }}</p>
    </button>
    <div id="filter" class="usa-accordion-content">
      {% for filter in include.filters %}
      <div class="filter-section">
        <fieldset class="usa-fieldset-inputs">
          <legend class="filter-category usa-width-one-fourth">{{ filter.title }}</legend>
          <ul class="usa-unstyled-list usa-width-three-fourths">
            <li>
              <input id="{{ filter.key }}-all" type="radio" checked name="{{ filter.key }}">
              <label class="usa-button usa-button-outline" for="{{ filter.key }}-all">All</label>
            </li>
            {% capture void %}
            {% assign values = '' | split: '' %}
            {% for item in include.items %}
              {% assign item_value = item[filter.key] %}
              {% unless item_value %}{% continue %}{% endunless %}
              {% if filter.multiple %}
                {% for value in item_value %}
                  {% assign values = values | push: value %}
                {% else %}
                  {% assign values = values | push: item_value %}
                {% endfor %}
              {% else %}
                {% assign values = values | push: item_value %}
              {% endif %}
            {% endfor %}
            {% assign values = values | uniq | sort() %}
            {% endcapture %}
            {% for value in values %}
            {% assign slug = value | append: '' | slugify %}
            <li>
              <input id="{{ filter.key }}-{{ value }}" type="radio" name="{{ filter.key }}" value="{{ value | jsonify | xml_escape }}">
              <label class="usa-button usa-button-outline" for="{{ filter.key }}-{{ value }}">{{ value }}</label>
            </li>
            {% endfor %}
          </ul>
        </fieldset>
      </div>
      {% endfor %}
    </div>
  </li>
</ul>
