<div class="project-container">
{% for project in site.projects %}
  {% unless project.featured %}
    <article class="card usa-width-one-third">
      <a class="card-link" href="{{ project.url | prepend: site.baseurl }}" aria-hidden="true" tabindex="-1"></a>
      <div class="card-image">
        <img src="{{ project.image | prepend: site.baseurl }}">
      </div>
      <div class="card-banner">
        <h3 class="card-description">
          <span>{{ project.title }}</span>
        </h3>
        <p class="card-summary">{{ project.description }}</p>
      </div>
      <a class="card-read" href="{{ project.url | prepend: site.baseurl }}">
        Read more
        <span class="usa-sr-only">about {{ project.title }}</span>
      </a>
    </article>
  {% endunless %}
{% endfor %}
</div>
