<div class="card-deck">
  {% for item in site.projects %}
    <div class="card">
      <img class="card-img-top" src="{{ site.baseurl }}{{ item.small_image }}" alt="{{ item.image_alt }} ">
      <div class="card-body">
        <h3 class="card-title">{{ item.title }}</h3>
        <p class="card-text">{{ item.description }}</p>
      </div>
      <div class="card-footer">
        <a href="{{ site.baseurl }}{{ item.url }}" class="usa-button">Read more</a>
      </div>
    </div>
  {% endfor %}
</div>
