<!-- Header basic -->
<div class="usa-search usa-search-small" role="search">
  <form action="{{ _secondary.search.action | relative_url }}" class="usa-sr-only">
      <label class="usa-sr-only" for="search-field-small">Search small</label>
      <input id="search-field-small" type="search" name="{{ _secondary.search.query | default: 'search' }}">
      <button type="submit">
        <span class="usa-sr-only">Search</span>
      </button>
  </form>
</div>

<!-- Header extended -->
<form action="{{ _secondary.search.action | relative_url }}" class="usa-search usa-search-small js-search-form usa-sr-only">
<div role="search">
  <label class="usa-sr-only" for="search-input">Search small</label>
  <input id="search-input" type="search" name="{{ _secondary.search.query | default: 'search' }}">
  <button type="submit">
    <span class="usa-sr-only">Search</span>
  </button>
</div>
</form>
