@import 'zenburn';
@import 'byuscriptgen';


.usa-logo-img {
  float: left;
  height: units(10);
  margin-right: units("neg-6");

  @include at-media($theme-header-min-width) {
    margin-top: 0;
    height: units(3);
  }

  & + .usa-logo__text {
    float: left;
  }
}


.usa-header--extended .usa-logo-img {
@include at-media($theme-header-min-width) {
  height: units(10);
}
}

.usa-navbar {
  @include border-box-sizing;
  height: units($size-touch-target);

  @include at-media-max($theme-header-min-width) {
    @include u-flex("align-center");
    border-bottom: units(1px) solid color("base-lighter");
    display: flex;
  }

  @include at-media($theme-header-min-width) {
    border-bottom: none;
    display: inline-block;
    height: auto;
  }
}

.main-side {
  @include u-maxw('desktop-lg');
}
