---
# assets/main.scss
---
// set your variables or @import them here.

// Setup for the US Web Design Standards
$font-path: '../uswds/fonts';
$image-path: '../uswds/img';
@import 'uswds/all';


// styles for buttons in navigation
@import 'nav-buttons';
