---
---

{% assign _theme_key = site.theme_variant | default: 'default' %}
{% assign _theme = site.data.themes[_theme_key] %}

$font-sans: {{ _theme.fonts.sans }};
$font-serif: {{ _theme.fonts.serif }};

$font-normal: {{ _theme.fonts.normal }};
$font-bold: {{ _theme.fonts.bold }};

$color-primary: {{ _theme.colors.primary }};
$color-primary-darker: {{ _theme.colors.primary-darker }};
$color-primary-darkest: {{ _theme.colors.primary-darkest }};

$color-primary-alt: {{ _theme.colors.primary-alt }};
$color-primary-alt-dark: {{ _theme.colors.primary-alt-dark }};
$color-primary-alt-darkest: {{ _theme.colors.primary-alt-darkest }};
$color-primary-alt-light: {{ _theme.colors.primary-alt-light }};
$color-primary-alt-lightest: {{ _theme.colors.primary-alt-lightest }};

$color-secondary: {{ _theme.colors.secondary }};
$color-secondary-dark: {{ _theme.colors.secondary-dark }};
$color-secondary-darkest: {{ _theme.colors.secondary-darkest }};
$color-secondary-light: {{ _theme.colors.secondary-light }};
$color-secondary-lightest: {{ _theme.colors.secondary-lightest }};

$color-base: {{ _theme.colors.base }};
$color-focus: {{ _theme.colors.focus }};
$color-visited: {{ _theme.colors.visited }};

$font-path: '../uswds/fonts';
$image-path: '../uswds/img';

@import 'uswds/all';
