---
# assets/main.scss
---
// set your variables or @import them here.

// at the very least, you should set the USWDS font and image paths
// to the correct paths relative to assets/main.css, like so:
$font-path: 'uswds/fonts';
$image-path: 'uswds/img';

@import 'uswds/all';
// styles for the header slim
@import 'header--slim';
@import 'site-wide';
@import 'sidenav';
