/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// uswds shims
.usa-footer__logo-img {
  width: 100%;
}

@include at-media('mobile-lg') {
  .usa-footer__contact-info {
    display: flex;
  }
  .usa-footer--slim .usa-footer__contact-info {
    display: inline-block;
  }
  .usa-footer--big a.usa-footer__primary-link {
    margin-bottom: units(3);
  }
}

.usa-footer--big .usa-footer__primary-content--collapsible.hidden .usa-footer__primary-link {
  background-size: units(1) auto;
}

.usa-footer--big .usa-footer__primary-link {
  background-size: auto units(1);
}

.usa-header {
  button[aria-expanded=true],
  button[aria-expanded=true]:hover {
    &:after {
      display: none;
    }
  }
}

.usa-layout-docs__sidenav,
.usa-layout-docs__main {
  width: 100%;
}