// Variables present in USWDS <2.0
$nav-width: 951px !default;
$medium-screen: 600px !default;
$color-blue: #0071bc !default;
$color-primary: $color-blue !default;

@import 'alt-color-section';
@import 'card';
@import 'footer';
@import 'header';
@import 'hero';
@import 'side-nav';
@import 'top-nav';
@import 'usa-banner';
