.usa-section-dark {
  background-color: $alt-section-bg;


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $alt-section-header;
  }

  p {
    color: $alt-section-text;
  }

  a {
    color: $alt-section-link;

    &:hover {
      color: $alt-section-link-hover;
    }
  }
}
