.usa-footer-primary-section {
  background-color: $primary-footer-bg;


  .usa-footer-primary-link {
    color: $primary-footer-link;
  }
}

.usa-footer-secondary_section {
  background-color: $footer-bg;
  color: $footer-text;

  a {
    color: $footer-link;
  }
}
