.usa-header {
  @if variable-exists(header-bg) {
    background-color: $header-bg;
  }

  .usa-logo {
    a {
      @if variable-exists(header-title) {
        color: $header-title;
      }
    }

    @if variable-exists(header-logo) {
      .usa-logo-text {
        @include display-icon('', before, 1.5rem, 0.25rem, no-hover);
        &::before {
          background-image: $header-logo !important;
        }
      }
    }
  }

  .usa-nav-secondary-links {
    a {
      @if variable-exists(header-link) {
        color: $header-link;
      }

      &:hover {
        @if variable-exists(header-link-hover) {
          color: $header-link-hover;
        }
      }
    }
  }
}
