.usa-hero {
  .usa-hero-callout {
    background-color: $hero-bg;


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $hero-header;
    }

    .usa-hero-callout-alt {
      color: $hero-header-alt;
    }

    p {
      color: $hero-text;
    }

    .usa-hero-link {
      color: $hero-link;
    }

    .usa-button {
      background-color: $hero-button-bg;
      color: $hero-button-text;
    }
  }
}
