---
layout: default
main:
  class: usa-layout-docs usa-layout-docs__main desktop:grid-col-9 usa-prose
---

<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap flex-align-start">
      {% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
      {% if sidenav %}
        <div class="usa-layout-docs__sidenav desktop:grid-col-3{% if page.sticky_sidenav %} usa-sticky-sidenav{% endif %}">
          {% include sidenav.html links=sidenav %}
        </div>
      {% endif %}

      <main class="usa-layout-docs usa-layout-docs__main usa-prose{% if sidenav %} desktop:grid-col-9{% endif %}" id="main-content">
        {% if page.title %}
          <h1>{{ page.title }}</h1>
        {% endif %}
        {{ content }}
      </main>
    </div>
  </div>
</div>
