---
layout: base
class: page-team-single
---

<div class="usa-section background-brand-dark">
  <div class="usa-grid">
    <h1>{{ page.name }}</h1>
  </div>
</div>
<div class="usa-grid main-content" id="main">
  <div class="usa-width-two-thirds">
    {{ content }}
  </div>
  <div class="usa-width-one-third single-sidebar">
  {% if page.image %}
    <div class="team-image" style="background-image: url({{ page.image | prepend: site.baseurl }});" role="img" aria-label="{{ page.name }}"alt="{{ page.name }}"></div>
  {% endif %}
  {% if page.title %}
    <h3 class="h4">Title</h3>
    <p>{{ page.title | join: ', ' }}</p>
  {% endif %}
  {% if page.year %}
    <h3 class="h4">Years active</h3>
    <p>{{ page.year | join: ', ' }}</p>
  {% endif %}
  {% if page.agency %}
    <h3 class="h4">Agency collaborators</h3>
    <p>{{ page.agency | join: ', ' }}</p>
  {% endif %}
  </div>
</div>
