---
layout: page
main:
  class: usa-grid usa-section usa-content usa-layout-docs
---
<article class="workshop">
  {% if page.dates %}
    {% if page.location %}
      {% if page.lead %}
        <h3>{{ page.dates }} | {{ page.location }} | Lead: {{ page.lead }}</h3>
      {% endif %}
    {% else %}
        <h3>{{ page.dates }} | {{ page.location }}</h3>
    {% endif %}
  {% else %}
    <h3>{{ page.dates }}</h3>
  {% endif %}

  {{ content }}

  <div>
    {% if page.picture %}
      <img src="{{ page.picture }}">
    {% endif %} 
  </div>  
</article>
